@import "../../node_modules/uikit/dist/css/uikit.min.css";
@import "reset.css";
@import "mixins";

body {
    font-family: Verdana, sans-serif;
    font-size: 18px;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.87);
}

.btn {
    display: inline-block;
    font-weight: 400;
    color: #212529;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: 0.375rem 0.75rem;
    font-size: 15px;
    line-height: 22px;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    &:hover {

        text-decoration: none;
    }
}

.investor__button {
    background-color: #EA6C6D;
    border-radius: 41px;
    color: white;
    &:hover{
        color: white;
        background-color: #ce5b5c;
    }
}

.container {
    max-width: 1230px;
    margin: 0 auto;
    padding: 0 15px;
}

.content {
    min-height: calc(100vh - 480px - 78px - 385px);
}

.header {
    padding: 16px;
    z-index: 10;
    background-color: white;
    box-shadow: 0 3px 9px rgb(0 0 0 / 5%);

    .container {
        display: grid;
        grid-template-columns: 55px 1fr 200px;
    }

    .header__navigate {
        align-self: center;

        .header__nav-list {
            margin-top: 2px;
            display: flex;
            justify-content: center;

            .header__nav-link {
                font-family: 'Hind', sans-serif;
                display: inline-block;
                margin: 0 16px;
                line-height: 24px;
                color: #017ac1;
                transition: 0.2s;
                font-size: 18px;
                font-weight: 600;
                border-bottom: 1px solid transparent;

                &:hover {
                    border-bottom: 1px solid rgb(0, 85, 135);
                    color: rgb(0, 85, 135);
                }
            }
        }
    }

    .header__logo-link {
        img {
            height: 46px;
            object-fit: contain;
        }
    }

    .header__logo-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .header__btn {
        align-self: center;
    }
}

.main__slider {
    .main__slider-uk {
        width: 100%;

        .uk-slider-container {
            position: relative;
        }

        .uk-slider-items {
            .main__slider-item {
                width: 100%;
                height: 385px;

                .slide__wrapper {
                    height: 100%;
                    z-index: 2;
                    position: relative;

                    .bg__dark {
                        position: absolute;
                        left: 0;
                        right: 0;
                        top: 0;
                        bottom: 0;
                        z-index: 3;
                        background-color: #0009;
                    }

                    background: no-repeat center/cover;

                    .container {
                        height: 100%;
                        display: flex;
                        flex-direction: column;
                        z-index: 5;
                        position: relative;
                        justify-content: center;

                        .slide__title {
                            color: white;
                            font-family: "Open Sans", sans-serif;
                            font-size: 48px;
                            line-height: 57px;
                            font-weight: 400;
                            max-width: 752px;
                            margin-bottom: 16px;
                        }

                        .slide__content {
                            letter-spacing: 0.7px;
                            line-height: 20px;
                            font-size: 14px;
                            font-weight: 400;
                            color: white;
                            font-family: "Open Sans", sans-serif;
                            max-width: 752px;
                            margin-bottom: 16px;
                        }

                        .slide__btn-wrapper {
                            .slide__btn {
                                @include btn-green;
                            }
                        }
                    }
                }
            }
        }

        .uk-slider-nav.uk-dotnav {
            position: absolute;
            z-index: 7;
            bottom: 16px;
            left: 50%;
            transform: translateX(-50%);

            li {
                padding-left: 10px;

                &.uk-active {
                    a {
                        transform: scale(1.5);
                    }

                }

                a {
                    transition: transform .225s cubic-bezier(.8, 1.35, .75, 1.45), background-color .175s ease-out;
                    background-color: white;
                    border: none;
                    opacity: 50%;

                    &:hover {
                        opacity: 0.2;
                    }

                }
            }


        }
    }
}

.footer {
    background-color: rgb(1 122 193);
    min-height: 480px;
    padding-top: 64px;
    padding-bottom: 32px;
    color: white;
    font-family: 'Hind', sans-serif;

    .container {
        display: flex;
        flex-direction: column;

        .footer__top-side {
            margin-bottom: 48px;
            display: flex;
            justify-content: space-around;

            .footer__col {
                .footer__col-item {
                    .footer__col-link {
                        padding: 5px 0;
                        color: white;
                        font-size: 18px;
                        line-height: 24px;
                        transition: 0.3s;
                        display: inline-block;

                        &:hover {
                            text-decoration: none;
                            opacity: 0.6;
                        }
                    }
                }
            }
        }

        .footer__bot-side {
            display: flex;
            flex-direction: column;
            align-items: center;
            text-align: center;

            p {
                margin-bottom: 16px;
                line-height: 20px;
                font-size: 16px;
                color: white;
            }

            .copyright {
                p {
                    font-size: 18px;
                }

            }
        }
    }
}

.chart__block {
    padding: 50px 0;
    background-color: white;
    padding-bottom: 70px;

    .sub__heading {
        text-align: center;
        @include heading;
        margin-bottom: 10px;
    }

    .container {
        display: grid;
        grid-template-columns: 1.2fr 1fr;
        grid-gap: 40px;

        .data__side {
            padding-top: 23px;

            .side__header {
                margin-bottom: 15px;
                font-family: "Segoe UI", Arial, sans-serif;
                font-weight: 400;
                color: rgb(45, 55, 72);
                line-height: 22px;
                font-size: 18px;
            }

            .side__trading {
                font-family: Verdana, sans-serif;
                font-size: 12px;
                font-weight: 400;
                line-height: 18px;
                color: #718096;
            }

            .prices {
                display: flex;
                font-family: 'Hind', sans-serif;

                .h5 {
                    font-size: 18px;
                    line-height: 25px;
                    margin-right: 2px;
                    color: #718096;
                }

                .text-success {
                    color: #28a745;
                    font-size: 15px;
                    font-weight: 500;
                    line-height: 26px;
                }
            }

            .data__table {
                margin-top: 23px;
                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-gap: 30px;

                .data__table-row {
                    font-family: Verdana, sans-serif;
                    font-size: 15px;
                    line-height: 1.5;
                    padding: 5px;
                    display: flex;
                    justify-content: space-between;
                    border-bottom: 1px solid rgb(222, 226, 230);

                    .data__name {
                        font-family: Verdana, sans-serif;
                        font-size: 15px;
                        line-height: 1.5;
                        color: #212529;
                    }

                    .data__value {
                        font-family: Verdana, sans-serif;
                        font-size: 15px;
                        line-height: 1.5;
                        color: #212529;
                    }
                }
            }
        }

    }
}

.mgom__global {
    background-image: url('/assets/img/stock-banner1.jpg');
    background-size: cover;
    background-position: center, center;
    background-attachment: fixed;
    padding: 45px 0;

    .container {
        max-width: 1230px;
    }

    .sub__heading {
        text-align: center;
        @include heading;
        color: white;
        margin-bottom: 30px;
    }

    .mgom__subtitle {
        margin: 0 auto 50px;
        color: white;
        font-family: Verdana, sans-serif;
        font-size: 17px;
        line-height: 28px;
        text-align: center;
        max-width: 1170px;
    }

    .mgom__cards {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 15px;


        .mgom_card {
            background-color: #307ABB;
            padding: 20px;
            color: white;
            display: flex;
            flex-direction: column;
            align-content: center;

            .card__img-wrapper {
                display: flex;
                justify-content: center;
                margin-bottom: 25px;

                img {
                    object-fit: contain;
                }
            }

            .card__header {
                text-align: center;
                font-family: "Open Sans", sans-serif;
                font-size: 20px;
                font-weight: 600;
                line-height: 24px;
                margin-bottom: 23px;
                color: white;
            }

            .card__content {
                color: #FFFFFF;
                font-family: "Open Sans", sans-serif;
                font-size: 17px;
                font-weight: 400;
                text-align: center;
            }
        }
    }
}

.mgom__app {
    padding: 30px 0;
    background: white;

    .mgom__global-row {
        .row__header {
            font-size: 24px;
            line-height: 32px;
            font-weight: 700;
            margin-bottom: 16px;
            color: rgba(0, 0, 0, 0.87);
            font-family: "Open Sans", sans-serif;
        }

        .row-3 {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-gap: 25px;
        }

        .app__col {
            .image__wrapper {
                display: flex;
                justify-content: center;
                align-items: center;

                img {
                    max-height: 360px;
                    overflow: hidden;
                    margin-bottom: 20px;
                    object-fit: contain;
                }

            }

            .app__rounded-img {
                width: 350px;
                height: 350px;
                background-color: #f8f9fa;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                margin-bottom: 20px;
            }

            .col__title {
                font-size: 24px;
                line-height: 32px;
                font-weight: 700;
                margin-bottom: 16px;
                color: rgba(0, 0, 0, 0.87);
                font-family: "Open Sans", sans-serif;
            }

            .col_content {
                font-size: 17px;
                font-weight: 400;
                color: rgba(0, 0, 0, 0.87);
                font-family: Verdana, sans-serif;
            }
        }
    }
}

.mgom__blog {
    padding: 50px 0 100px;

    .sub__heading {
        text-align: center;
        @include heading;
        margin-bottom: 50px;
    }

    &-row {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 30px;
    }

    &-item {
        box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
        overflow: hidden;
        display: flex;
        transition: 0.3s;
        flex-direction: column;

        &:hover {
            transform: translateY(-0.25rem);
            box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
        }

        .image__wrapper {
            height: 200px;
            overflow: hidden;

            image {
                width: 100%;
                object-fit: contain;
            }
        }

        .item__title {
            padding: 25px;
            font-family: "Open Sans", sans-serif;
            font-size: 18px;
            line-height: 27px;
            font-weight: 600;
            color: #333;

            &:hover {
                color: #2c3bba;
                text-decoration: none;
            }
        }
    }
}

.mgom__news {
    padding: 100px 0;
    background: #307ABB;

    .sub__heading {
        text-align: center;
        @include heading;
        color: white;
        margin-bottom: 50px;
    }

    &-wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 40px 30px;
    }

    &-item {
        box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
        transition: 0.3s;

        &:hover {
            transform: translateY(-0.25rem);
            box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
        }

        .image__wrapper {
            img {
                object-fit: contain;
                width: 100%;
            }
        }
    }
}

.mgom__media {
    padding: 50px 0;

    .sub__heading {
        margin-bottom: 16px;
        font-size: 14px;
        font-weight: 700;
        line-height: 22px;
        text-align: center;

    }

    &-row {
        display: flex;
        justify-content: center;
    }

    &-item {
        transition-duration: .3s;
        border: 8px solid transparent;
        border-radius: 100%;
        overflow: hidden;
        padding: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        aspect-ratio: 1/1;
        height: 10rem;
        width: 10rem;

        &:hover {
            transform: matrix(1, 0, 0, 1, 0, -10);
            box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
            border-color: rgb(229, 231, 235);
        }

        img {
            width: 100%;
        }
    }
}

.feedback {
    margin-bottom: 30px;
    margin-top: 50px;

    .heading {
        @include heading();
        margin-bottom: 10px;
        text-align: center;
    }

    .sub__heading {
        text-align: center;
        font-size: 17px;
        font-weight: 400;
        line-height: 28px;
        font-family: 'Verdana', sans-serif;
        color: #718096;
        margin-bottom: 45px;
    }

    &-wrapper {
        display: grid;
        grid-gap: 30px;
        grid-template-columns: 1fr 1fr;

        .col {
            padding: 35px;
            box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
            border-radius: 15px;
            height: fit-content;

            .img__wrapper {
                img {
                    width: 100%;
                }
            }

            @include default_form;
        }
    }
}

.sec__filings {
    padding: 65px 0;
    background-color: #f8f9fa;

    .heading {
        @include heading();
        margin-bottom: 25px;
        text-align: center;
    }

    .row {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        .filings__link {
            @include blue-link(100%, 18px)
        }
    }
}

.letter {
    padding: 50px 0;
.collapse__content{
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}
    &__wrapper {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-gap: 30px;

        .img__wrapper {
            display: flex;
            justify-content: center;
            align-items: center;
            height: fit-content;

            img {
                object-fit: contain;
            }
        }

        .heading {
            @include heading();
            margin-bottom: 20px;
        }

        p {
            font-size: 17px;
            line-height: 28px;
            font-weight: 400;
            font-family: "Verdana", sans-serif;
            margin-block-start: 15px;
            color: #718096;
        }

        a {
            color: #718096;
            font-size: 17px;
            line-height: 28px;
            font-weight: 400;
            font-family: "Verdana", sans-serif;

            &:hover {
                color: #2c3bba;
            }
        }
        .card{
            position: relative;
            display: flex;
            flex-direction: column;
            min-width: 0;
            word-wrap: break-word;
            background-color: #fff;
            background-clip: border-box;
            border: 1px solid rgba(0, 0, 0, 0.125);
            border-radius: 0.25rem;
        }
        .card__body{
            flex: 1 1 auto;
            min-height: 1px;
            padding: 1.25rem;
        }
    }

}
